h1 {
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

.contactForm {
  margin-left: 5px;
}

.contactFormForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 20px;
  max-width: 400px;
  border: solid 1px black;
}

.contactFormLabel {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 20px 20px;
  gap: 5px;
}

button {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: none;
}

.contactFormSearch {
  margin-left: 5px;
}

.contactFormSearchLabel {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px 20px;
  gap: 5px;
}

.contactFormInput {
  max-width: 150px;
}
